
.fundo {
    justify-content: center;
    align-items: center;
    background-image: url(img/Fundo.png);
    height: 100vh;
    width:860px;
    background-position:bottom;}

    .linha1   {
    background: var(--roxo1);
    height: 65px;
    margin: 12px 0 0;
    width:860px;}

    .linha2 {
        background: var(--roxo2);
        height: 51px;
        margin-top: 12px;
        width:860px;}

        .h2