:root {
    --StarPequeno: 15px;
    --StarPadrao: 20px;
    --StarGrande: 40px;

    --StarGrandeAltura: 50px;

    --fontTitulo: 400 20px 'cream';
    --fontSubTitulo: 400 12px 'pulang';
    --fontTexto: 400 10px 'cream';

    --fontTituloFooter: 400 20px 'cream';
    --fontSubTituloFooter: 400 15px 'pulang';
    --fontTextoFotter: 400 10px 'cream';}
.star{
    height: 10px;
    margin: 15px 0;}
.starPequeno{
    height: 25px;}
.linha1 {
    background: var(--roxo1);
    height: 65px;
    margin: 12px 0 0;}
.linha2 {
    background: var(--roxo2);
    height: 51px;
    margin-top: 12px;}
.lines {
    position: absolute;
    height: 100%;
    margin: 0;
    width: 90vw;}
.starCarregar14 {
    top: 34%;
    left: 34%;}
.starCarregar5{
    display: none;}
.telaCarregamento
#barraProgresso{
    width: 85vw;
    height: 20px;
    margin-top: 20px;}
.texto-logo {
    transition-delay: 1s;
    text-align: center;
    height: 100px;
    margin-bottom: 100px;
    color: var(--branco);
    font-size: 50px;}
#LeftStar{
    display: none;}
#RightStar{
    display: none;}
.subLinha{
    width: 75vw;
    margin-top: 15px;}
.conteudo,
#nossaHistoria .conteudoImagem .conteudo,
#personagens .texto,
#personagens .subtexto,
.divulgacao{
    width: 80vw;}
.forja{
    width: 95vw;}
.videoFerreiro{
    width: 75vw;}
.video{
    width: 70vw;}
.saturno{
    width: 100px;
    height: auto;}  
.logoMain{
    height: 50px;
    margin: 20px 0 40px;}
.sessao .tituloLogo{
    padding: 0;}
.conteiner{
    margin: 0 40px;}
.linhaLogo{
    width: 10vw;
    height: 0.1px;
    border: 0.1px var(--branco) solid}
#personagens .divisaoLogo .linhaLogo{
    width: 25vw;}
#carrosselImagem{
    height: 250px;}
.legenda{
    font-size: var(--fontTexto);}
.carrossel{
    height: auto;}
.conteudo{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;}
#nossoTrabalho .titulo{
    margin-bottom: 50px;}
#nossoTrabalho .conteudo,
.myCard{
    margin: 50px 0;
    width: 100%;}
#nossaHistoria .conteudoImagem{
    flex-wrap: wrap;}
.imagem{
    width: 240px;}
.starNone{
    display: none;}
#historiaStar{
    height: 40px;
    margin: 0;}
#conteudo .texto{
    margin: 10px 0;}
#conteudo .star,
#btnCamera .star{
    height: 10px;
    margin: 10px 0 0;}
#conteudo .star{
    max-width: 10px 0 20px;}
.conteudoTexto{
    width: auto;
    margin: 30px 0;}
#footer .logo,
#nossaHistoria .conteudoImagem{
    margin: 0;}
#firstStar{
    left: 0;}
#linhaLogoMaior{
    width: 50vw;}
.cards{
    flex-wrap: wrap;
    margin: 0;}
.estrelaForja{
    width: 100%;
    height: 60vh;}
#tituloCamera{
    padding: 0 10px;}
#camera{
    width: 90%;}
.parteLeft{
    display: none;}
.apoiar{
    display: none;}
#footer .conteiner{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;}
.parteRight,
.logo{
    height: auto;}
#footer .logo{
    width: 240px;}
.iconesDivulgacao .icon{
    width: 30px;}
.descerScroll{
    transform: translateY(-100px);
    opacity: 0;
    filter: blur(3px);
    transition: all 2s;}
.subirScroll{
    transform: translateY(100px);
    opacity: 0;
    filter: blur(3px);
    transition: all 2s;}
.leftScroll{
    transform: translatex(-25px);
    opacity: 0;
    filter: blur(3px);
    transition: all 2s;}
.rightScroll{
    transform: translatex(25px);
    opacity: 0;
    filter: blur(3px);
    transition: all 2s;}
.depoisScroll{
    transform: translateY(0);
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: all 2s;}
.starGrande,
.divisaoTextoEstrela{
    margin: 20px  0 10px;}
.linhaTexto{
    margin: 0;}
#personagens .sessao .linhaTexto p{
    margin: 5px;}
.textoLogo{
    width: 100px;}
.carrosselImagem {
    width: auto;
    height: auto;
    filter: drop-shadow( 0 0 15px var(--preto));}
.satelite, .antena, .star, .planet, .foguete, .meteoro {
    filter: drop-shadow(0 0 8px var(--branco));
    color: var(--branco);}
.galaxia {
    width: 16px;
    filter: drop-shadow(0 0 5px var(--branco));}
.M{
    font-size: 25px;}
.G{
    font-size: 30px;}
.P{
    font-size: 20px;}
.local14{
    margin: 30px 0 20px;}
.local13{
    margin: 0 0 25px;}
.local12{
    margin: 5px 0;}
#antes-sessao{
    height: 100px;
    margin: 0 0 30px;}
#personagens .conteudo{
    height: auto;}
.local6{
    margin: 0px 0 30px;}
.local7{
    margin: 10px 0;}
#personagens .divisaoLogo{
    margin: 0px 0 50px ;}
.position {
    height: 30px;}
.local5{
    top: 10px;}
#nossaHistoria .conteudo{
    margin: 30px 0 0;}
#lastStar{
    display: none;}
.sessao .star{
    display: none;}
.local9{
    top: 10% ;}
.local15{
    margin: 25px 0 0;}
.myCard{
    height: 350px;}
.local4{
    margin: 0px 0 30px;}
.local3{
    margin: 0;;}









