*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
a{
    text-decoration: none;}
img{
    width: 100%;
    height: auto;
    border-radius: 15px;}
html{
    scroll-behavior: smooth;}
/* reset */
:root{
    --StarPequeno: 30px;
    --StarPadrao: 64px;
    --StarGrande: 200px;

    --StarGrandeAltura: 210px;

    --fontTitulo: 400 40px 'Opti-Regular',sans-serif;
    --fontSubTitulo: 400 30px 'Decol-regular';
    --fontTexto: 400 25px 'Opti-regular';

    --fontTituloFooter: 400 30px 'Opti-Regular',sans-serif;
    --fontSubTituloFooter: 400 20px 'Decol-regular';
    --fontTextoFotter: 400 15px 'Opti-regular';

    --amarelo: #F0E32E;
    --roxoDiferente: #68519B;
    --roxoEscuro: #661EAB;
    --roxo1:#8F3DA3;
    --roxo2: #FFA1F6;
    --cinza: #D9D9D9;
    --branco: #fff;
    --preto: #000;

    --fundoBrancoRoxo: linear-gradient(0deg, rgba(104, 42, 167, 0.65) -33.65%, rgba(255, 161, 246, 0.00) 138.46%);
    --fundoRoxo1: linear-gradient(337deg, rgba(72, 32, 99, 0.97) 9.97%, rgba(87, 39, 98, 0.97) 73.66%);
    --fundoRoxo2: linear-gradient(180deg, #4E2767 10.33%, #7E468C 47.1%, #4E2767 88.73%);
    --fundoRoxo3: linear-gradient(180deg, #4E2767 0%, #460C53 38.27%, #663679 76.53%);;
    --fundoRoxo4: linear-gradient(180deg, #4E2767 0%, #460D54 19.8%, #663679 39.59%, #460D54 59.39%, #4D2566 98.99%);
    --corDivicao: linear-gradient(180deg, #663679 0%, #481257 100%);}
@font-face {font-family: 'webcomic';
    src: url(font/Webcomic.ttf);}
@font-face {font-family:'OsdMono' ;
    src: url(font/VCR_OSD_MONO_1.001.ttf);}
@font-face {font-family: 'gameboy' ;
    src: url(font/Early\ GameBoy.ttf);}
@font-face {font-family: 'atWriter' ;
    src: url(font/atwriter.ttf);}
@font-face {font-family: 'analogist';
    src: url(font/Analogist.ttf);}
@font-face {font-family: 'Opti-Regular' ;
    src: url(font/Kaisei_Opti/KaiseiOpti-Regular.ttf);}
@font-face {font-family: 'Decol-Regular' ;
    src: url(font/Kaisei_Decol/KaiseiDecol-Regular.ttf);}
@font-face {font-family: 'cream';
    src: url(font/Cream\ Bread.otf);}
@font-face {font-family: 'write';
    src: url(font/Please\ write\ me\ a\ song.ttf);}
@font-face {font-family: 'rosie';
    src: url(font/Rosie\ Brown\ Serif\ Demo.otf);}
/* Animação */
@keyframes rotacao {
    
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }}
@keyframes animate {
    0% {
        opacity: 0.3;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }}
@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }}
@keyframes widthBolinhaProgresso {
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }}
@keyframes fontalicious {
    0% {
    font-family: 'analogist';
    }
    10% {
    font-family: 'Decol-Regular';
    }
    20% {
    font-family: 'webcomic';
    }
    30% {
    font-family: 'rosie';
    }
    40% {
    font-family: 'OsdMono';
    }
    50% {
    font-family: Tahoma;
    }
    60% {
    font-family: 'rosie';
    }
    70% {
    font-family: 'gameboy';
    }
    80% {
    font-family: monospace;
    }
    90% {
    font-family: 'atWriter';
    }
    99% {
    font-family: 'rosie';
    }
    100% {
    font-family: 'analogist';
    }}   
@keyframes orbita {
    0%{
        padding-top: 0;
    }

    50%{
        padding-top: 5px;
    }}
@keyframes orbitaPequena {
    0%{
        padding-top: 0;
    }

    50%{
        padding-top: 5px;
    }}
/* header */
#header .planeta{
    animation: infinite orbita 8s;
    height: 100%;}
.texto-logo {
    transition-delay: 1s;
    text-align: center;
    height: 100px;
    color: var(--branco);
    font-size: 50px;
    font-family: 'rosie';}
.fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/fundoEstrela.png);
    height: 100vh;
    background-position: 50% 90%;}
#LeftStar{
    position: absolute;
    top: 50px;
    left: 5%;}
#RightStar{
    position: absolute;
    top: 80%;
    right: 5%;}
.linha1{
    background: var(--roxo1);
    height: 65px;
    margin: 12px 0 0;}
.linha2{
    background: var(--roxo2);
    height: 51px;
    margin-top: 12px;}
/* Padrão */
/* #main, #footer {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out, height 1s ease-in-out;}
#header {
    transition-delay: 0.1s;} */
/*Adiciona um atraso para que o header apareça após a telaCarregamento}*/
/* .hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out, height 1s ease-in-out;}
body{
    background-color: var(--preto);} */
#main{
    position: relative;}
#main .lines {
    z-index: 1;}
#main .line::after{
    animation: drop 20s 0s infinite;}
#main .line:nth-child(1)::after {
    animation-delay: 10s;}
#main .line:nth-child(3)::after {
    animation-delay: 15s;}
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;}
.saturno{
    animation: infinite orbita 8s;
    height: 360px;}
.fadeOut {
    opacity: 0 !important;}
#barraProgresso,
.textoCarregamento{
    display: none;}
#footer .titulo{
    font: var(--fontTituloFooter);}
#footer .texto{
    font: var(--fontTextoFotter) ;}
#footer .subTitulo{
    font: var(--fontSubTituloFooter) ;}
.subtexto{
    font: var(--fontTexto);
    text-align: center;
    margin: 5px 0;
    color: var(--cinza) ;}
.textoLogo{
    color: var(--branco);
    font: var(--fontSubTitulo);
    margin: 30px 0;
    text-align: center;}
.inverter{
    flex-direction: row-reverse;}
.logoMain,
.tituloLogo,
.divisaoLogo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;}
.conteudoTexto{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    flex-direction: column;}
.miniTitulo{
    font: var(--fontTexto);
    text-align: center;}
.divicao{
    background: var(--corDivicao);
    height: 259px;}
.conteudo{
    width: 900px;}
.prototipo{
    background-color: var(--cinza);}
#main .linha2{
    margin: 0;}
.titulo{
    font: var(--fontTitulo);
    text-align: center;}
.conteiner,
.sessao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;}
.subTitulo{
    font: var(--fontSubTitulo);
    text-align: center;
    margin: 15px 0 30px;}
.texto{
    font: var(--fontTexto);
    text-align: center;
    margin: 5px 0;}
/* Parte 1 */   
.video{
    width: 500px;}
#forja{
    margin-bottom: 150px;}
.videoFerreiro{
    width: 400px;
    display: flex;
    justify-content: center;
    z-index: 2;}
.forja{
    margin-top: 250px;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}
.subLinha{
    width: 450px;
    border: 1.2px var(--preto) solid;
    margin: 30px 0 0;}
#forja .conteiner{
    justify-content: space-around;}
/* Parte 2 */
#nossoTrabalho{
    background: var(--fundoRoxo1);}
.linhaLogo{
    border: 1px var(--branco) solid;
    width: 20vw;
    height: 1px;}
#nossoTrabalho .titulo{
    color: var(--branco);}
.carrossel{
    height: auto;
    position: relative;}
.sketches{
    z-index: 2;}
#carrosselImagem{
    transition: 0.5s opacity;
    background-image: url(img/imagem1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 15px;}
.carrosselImagem{
    width: 50vw;
    height: 85vh;
    filter: drop-shadow( 0 0 15px var(--preto));}
.bolinha {
    width: 13px;
    height: 13px;
    border-radius: 7px;
    padding: 0 1px;
    background-color: var(--roxo1);
    margin: 15px 5px 0;
    border: var(--roxo1) 3px solid;
    cursor: pointer;
    transition: all 1s;
    display: flex;
    align-items: center;}
.bolinha.ativa{
    width: 40px;}
.bolinha.ativa .progressoCarrossel{
    background-color: var(--roxo2);
    width: 0;
    height: 25%;
    border-radius: 1px;
    animation: widthBolinhaProgresso 8s forwards linear;}
#progressoCarrossel{
    display: flex;
    justify-content: center;}
.legenda{
    font: var(--fontTexto);
    font-size: 28px;
    color: var(--branco);}
#nossoTrabalho .conteudo{
    color: var(--branco);
    margin: 100px 0;}
#nossoTrabalho .titulo{
    margin-bottom: 150px;}
/* Parte 3 */
#nossaHistoria{
    background: var(--fundoRoxo2);}
#nossaHistoria .conteudoImagem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0}
#nossaHistoria .prototipo{
    width: 620px;
    height: 870px;}
#nossaHistoria .conteudoImagem .conteudo{
    color: var(--branco);}
#nossaHistoria .imagem{
    display: flex;
    align-items: center;    
    justify-content: space-between;}
#nossaHistoria .imagem .star{
    margin:0 25px;}
#nossaHistoria .conteudoImagem .conteudo .star{
    margin: 350px 0 0 300px;}
#nossaHistoria .conteudo{
    color: var(--branco);
    margin: 200px 0 200px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;}
#historiaStar{
    height:auto;
    display: flex;
    justify-content: space-between;
    width: 100%;} 
#conteudo .star{
    margin: 25px 0;}
#nossaHistoria #conteudo{
    width: 85vw;
    margin: 0;}
#conteudo .star{
    filter: drop-shadow(0 0 10px var(--branco));}
#conteudo .texto{
    margin: 30px 0;}
.starNone{
    margin-top: 20px;}
/* Parte 4 */
#personagens{
    background: var(--fundoRoxo4);
    color: var(--branco);}
#personagens .prototipo{
    width: 620px;
    height: 870px;}
#personagens .conteudo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 200px;
    height: 100vh;}
#personagens .texto,
#personagens .subtexto{
    width: 600px;}
#personagens .divisaoLogo .linhaLogo{
    width: 35vw;}
#personagens .divisaoLogo{
    height: 60px;
    margin: 150px 0;}
#personagens .inverter .conteudoTexto{
    justify-content: space-evenly;}
#firstStar{
    position: absolute;
    left: 40%;
    top: 0; }
#lastStar{
    position: absolute;
    left: -100px;
    bottom: 0px;}
#personagens .inverter{
    position: relative;
    margin: 0;}
#BigRightStar{
    margin-left: 55%;
    margin-top: 100px;}
.sessao{
    width: 99vw;
    margin-top: 100px;}
.sessao .star{
    margin-right: 75%;
    margin-top: 50px}
.sessao .conteudo{
    justify-content: center;
    display: flex;}
.divisaoTextoEstrela{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;}
.divisaoTextoEstrela .star,
.sessao .tituloLogo .star{
    margin: 0;}
#personagens .sessao .conteudo{
    justify-content: space-around}
.linhaTexto {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 200px 0 250px;
    align-items: center;
    justify-content: center;}
.linhaTopTexto{
    width: 85%;
    height: 1px;
    background-color: var(--branco);}
#personagens .sessao .linhaTexto p{
    width: 85%;
    margin: 30px 0;}
.linhaBottomTexto{
    width: 35vw;
    height: 1px;
    background-color: var(--branco);}
.sessao .tituloLogo{
    width: 85%;
    padding-bottom: 50px;}
/* Parte 5 */
#estilo{
    background: var(--fundoRoxo3);
    color: var(--branco);}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 150px 0 0;
    z-index: 2;}
.cards .texto {
    font: var(--fontTextoFotter);
    padding: 0 15px;}
.myCard {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;}
.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;}
.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;}
.myCard:hover .innerCard {
    transform: rotateY(180deg);}
.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;}
.frontSide,
.frontSide::before {
    background-size: cover;}
.backSide,
.backSide::before {
    background-image: var(--fundoBrancoRoxo);}
.backSide {
    transform: rotateY(180deg);}
.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;}
.card1 .frontSide,
.card1 .frontSide::before{
    background-image: url(img/desilucao.png);}
.card2 .frontSide,
.card2 .frontSide::before{
    background-image: url(img/liz.png);}
.estrelaForja{
    background: linear-gradient(0deg, #663679 -39.36%, #470D54 100%);;
    width: 1000px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--branco);
    border-radius: 15px;}
.btnCamera{
    background-color: transparent;
    cursor: pointer;
    transition: all 1s linear;}
#tituloCamera{
    transition: all 1s linear;}
#camera{
    transition: all 1s linear;
    opacity: 0;
    display: none;
    width: 100%;
    height: 90%;}
#estilo .subLinha{
    margin: 0 0 25px;
    border-color: var(--branco);}
.felipeLuz{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;}
#tituloForja{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 1s linear;}
.iconFoto{
    cursor: pointer;
    margin-top: 25px;
    opacity: 0;
    transition: all 1s linear;}
#foto{
    width: 90%;
    height: 90%;
    display: none;
    opacity: 0;
    transition: all 1s linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;}
#tituloForjaTexto{
    transition: all 1s linear;}
#btnCamera .star{
    max-width: 15px 0 0 ;}

/* footer */
#footer{
    color: var(--branco);
    position: relative;}
.divInicial{
    background: var(--corDivicao);
    width: 100%;
    height: 50px;
    margin-bottom: 5px;}
.divFinal{
    background:  var(--corDivicao);
    width: 100%;
    height: 50px;}
#footer .fundo{
    background-position: 50% 20%;
    flex-direction: row;
    background-image: url(img/fundoEstrela.png);
    height: 85vh;}
#footer .conteiner{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;}
.patrocinadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    justify-content: space-between;}
.icones{
    display: flex;
    justify-content: space-between;
    width: 200px;}
.divisaoEstrelas .linhaLogo{
    width: 10vw;}
.divisaoEstrelas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;}
#footer .starPequena{
    height: 30px;}
.iconesDivulgacao{
    display: flex;
    width: 50%;
    justify-content: space-around;}
.iconesDivulgacao .icon{
    width: 50px;}
.divulgacao{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;}
.parteRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: center;}
.apoiar .icon{
    width: 90px;}
.apoiar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;}
.cantinho{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 500px;
    text-align: left;}
.parteLeft{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;}
#footer .logo,
#footer .patrocinadores{
    margin-bottom: 100px;}
/* Tela carramento */
.btnCarregar {
    position: relative;
    padding: 12px 35px;
    background: #460C53;
    color: var(--branco);
    border: 3px solid var(--preto);
    border-radius: 8px;
    box-shadow: 0 0 0 var(--roxoDiferente);
    transition: all 1s ease-in-out;
    cursor: pointer;
    font: var(--fontTexto);}
.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);}
.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);}
.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);}
.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);}
.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);}
.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;}
.btnCarregar:hover {
    background: transparent;
    color: var(--branco);
    border: 3px solid var(--amarelo);
    box-shadow: 0 0 25px var(--amarelo);}
.btnCarregar:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;}
.btnCarregar:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;}
.btnCarregar:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;}
.btnCarregar:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;}
.btnCarregar:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;}
.btnCarregar:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;}
.fil0 {
    fill: #FFFDEF}
.telaCarregamento{
    height: 100vh;
    width: 100%;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out, height 1s ease-in-out;}
#barraProgresso{
    width: 400px;
    height: 30px;
    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 100px;
    transition: opacity 0.5s ease-in-out;}
#progresso{
    height: 100%;
    width: 0;
    background-color: var(--amarelo);
    border-radius: 8px;
    transition: 5s linear;
    text-shadow: 5px 5px 5px var(--amarelo);}
.textoCarregamento{
    font: var(--fontTextoFotter);
    color: var(--branco);
    margin-bottom: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    text-shadow: 1px 1px 5px var(--amarelo);}
.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
    z-index: 0;}
.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 40%;
    background: transparent;
    overflow: hidden;}
.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);}
.line:nth-child(1) {
    margin-left: -30%;}
.line:nth-child(1)::after {
    animation-delay: 2s;}
.line:nth-child(3) {
    margin-left: 50%;}
.line:nth-child(3)::after {
    animation-delay: 2.5s;}
.starCarregar1{
    position: absolute;
    left: 30%;
    top: 10%;}
.starCarregar2{
    position: absolute;
    right: 35%;
    top: 60%;}
.starCarregar3{
    position: absolute;
    right: 35%;
    top: 15%;}
.starCarregar4{
    position: absolute;
    left: 90%;
    top: 20%;}
.starCarregar5{
    position: absolute;
    left: 10%;
    top: 55%;}
.starCarregar6{
    position: absolute;
    top: 70%;
    right: 65%;}
.starCarregar7{
    position: absolute;
    top: 90%;
    right: 10%;}
.starCarregar8{
    position: absolute;
    top: 5%;
    left: 10%;}
.starCarregar9{
    position: absolute;
    top: 5%;
    right: 15%;}
.starCarregar10{
    position: absolute;
    top: 35%;
    left: 55%;}
.starCarregar11{
    position: absolute;
    top: 85%;
    right: 15%;}
.starCarregar12{
    position: absolute;
    top: 90%;
    left: 9%;}
.starCarregar13{
    position: absolute;
    top: 89%;
    left: 49%;}
.starCarregar14{
    position: absolute;
    top: 20%;
    left: 34%;}
.iconCheck{
    color: var(--branco);
    margin-bottom: 100px;}
.iconCheck i{
    height: 20px;}
#check{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity  1s ease-in;}
/* Barra de rolagem */
::-webkit-scrollbar {
    width: 12px;}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--amarelo);}
::-webkit-scrollbar-track {
    background-color: #460C53;}
/* Velocidade star */
.lento{
    animation: 10s orbita infinite;}
.medio{
    animation: infinite orbita 5s;}
.rapido{
    animation: infinite orbita 3s ;}
.star{
    height: 30px;}
/* Scroll */
.descerScroll{
    transform: translateY(-100px);
    opacity: 0;
    filter: blur(3px);
    transition: all 1s;}
.subirScroll{
    transform: translateY(100px);
    opacity: 0;
    filter: blur(3px);
    transition: all 1s;}
.leftScroll{
    transform: translatex(-50px);
    opacity: 0;
    filter: blur(3px);
    transition: all 1s;}
.rightScroll{
    transform: translatex(50px);
    opacity: 0;
    filter: blur(3px);
    transition: all 1s;}
.depoisScroll{
    transform: translateY(0);
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: all 1s;}
/* coisinhas */
.section{
    position: relative;}
.galaxia{
    animation: rotacao infinite linear reverse 10s;
    width: 25px;
    filter: drop-shadow(0 0 5px var(--branco));}
.satelite,
.antena,
.planet,
.foguete,
.galaxia,
.meteoro{
    position: absolute;}
.satelite,
.antena,
.star,
.planet,
.foguete,
.meteoro{
    filter: drop-shadow(0 0 10px var(--branco));
    color: var(--branco);}
.M{
    font-size: 40px;}
.G{
    font-size: 50px;}
.P{
    font-size: 30px;}


/* parte2 */
.local1{
    top: 14%;
    left: 12%;}
.local2{
    top: 35%;
    right: 9%;}
.local3{
    top: 83%;
    left: 12%;}
.local4{
    top: 70%;
    right: 6%}
/* parte3 */
.local5{
    right: 18%;
    top: 13%;}
.local6{
    left: 3%;
    top: 75%;}
/* parte4 */
.local7{
    top: 7%;
    right: 13%;}
.local8{
    top: 40%;
    left: 4%;}
.local9{
    top: 93%;
    left: 22%;}
.local10{
    top: 5%;
    right: 5%}
.local13{
    top: 58%;
    left: 40%;}
.local14{
    top: 60%;
    right: 4%;}
.local15{
    top: 54%;
    right: 5%;}
.local16{
    top: 95%;
    right: 15%;}
/* parte5 */
.local11{
    top: 5%;
    right: 5%;}
.local12{
    top: 2%;
    left: 20%;}

