*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
a{
    text-decoration: none;}
img{
    width: 100%;
    height: auto;}
html{
    scroll-behavior: smooth;}
/* reset */
:root{
    --StarPadrao: 64px;
    --StarGrande: 200px;

    --fontTitulo: 400 40px 'Opti-Regular',sans-serif;
    --fontSubTitulo: 400 30px 'Decol-regular';
    --fontTexto: 400 25px 'Opti-regular';

    --roxo1:#8F3DA3;
    --roxo2: #FFA1F6;
    --cinza: #D9D9D9;
    --branco: #fff;
    --preto: #000;

    --fundoRoxo1: linear-gradient(0deg, rgba(162, 73, 147, 0.86) 86.4%, rgba(124, 42, 232, 0.74) 98.04%);
    --fundoRoxo2: linear-gradient(180deg, #A758A4 0%, #9E62EE 25.42%);
    --corDivicao: linear-gradient(163deg, #AF62A2 -82.34%, #AF62A2 -8.41%, #A758A4 90.89%);
}
@font-face {font-family: 'Opti-Regular' ;
    src: url(font/Kaisei_Opti/KaiseiOpti-Regular.ttf);}
@font-face {font-family: 'Decol-Regular' ;
    src: url(font/Kaisei_Decol/KaiseiDecol-Regular.ttf);}
/* Animação */
@keyframes orbita {
    0%{
        padding-top: 0;
    }

    50%{
        padding-top: 10px;
    }}
/* header */
.logo{
    width: 18.75rem;
    /* animation: infinite orbita 2s;} */}
.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/Fundo.png);
    height: 100vh;
    background-position:bottom;}
#LeftStar{
    margin-bottom: -300px;
    margin-left: -300px;}
#RightStar{
    margin: 0 0 500px 300px;}
.linha1{
    background: var(--roxo1);
    height: 65px;
    margin: 12px 0 0;}
.linha2{
    background: var(--roxo2);
    height: 51px;
    margin-top: 12px;}
/* Padrão */
.miniTitulo{
    font: var(--fontTexto);
    text-align: center;}
.StarGrande{
    width: var(--StarGrande);
    animation: infinite orbita 4.5s;}
.divicao{
    background: var(--corDivicao);
    height: 259px;}
.conteudo{
    width: 900px;}
.star{
    width: var(--StarPadrao);
    animation: infinite orbita 3s;}
.prototipo{
    background-color: var(--cinza);}
#main .linha2{
    margin: 0;}
.titulo{
    font: var(--fontTitulo);
    text-align: center;}
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;}
.subTitulo{
    font: var(--fontSubTitulo);
    text-align: center;
    margin: 15px 0 30px;}
.texto{
    font: var(--fontTexto);
    text-align: center;
    margin: 5px 0;}
/* Parte 1 */   
#forja{
    margin-bottom: 150px;}
.imagemFerreiro{
    width: 400px;}
.forja{
    margin-top: 250px;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}
.subLinha{
    width: 450px;
    border: 1.2px var(--preto) solid;
    margin: 30px 0 0;}
#forja .conteiner{
    justify-content: space-around;
    height: 250vh;}
/* Parte 2 */
#nossoTrabalho{
    background: var(--fundoRoxo1);}
.logoMain,
.tituloLogo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;}
.linhaLogo{
    border: 1px var(--branco) solid;
    width: 20vw;}
.saturno{
    margin-top: 150px;}
#nossoTrabalho .titulo{
    color: var(--branco);
    font-size: 50px;}
.sketche{
    width: 1400px;
    height: 700px;}
.legenda{
    font: var(--fontTexto);
    font-size: 28px;
    color: var(--branco);}
#nossoTrabalho .conteudo{
    color: var(--branco);
    margin: 300px 0;}
#nossoTrabalho .titulo{
    margin-bottom: 150px;}
/* Parte 3 */
#nossaHistoria{
    background: var(--fundoRoxo2);}
.textoLogo{
    color: var(--branco);
    font: var(--fontSubTitulo);
    margin: 30px 0;}
.conteudoImagem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 500px;
    align-items: center;}
#nossaHistoria .imagem{
    display: flex;
    height: 1000px;}
#nossaHistoria .prototipo{
    width: 620px;
    height: 870px;}
#nossaHistoria .conteudoImagem .conteudo{
    width: 550px;
    color: var(--branco);}
#nossaHistoria .imagem{
    display: flex;
    align-items: center;    
    justify-content: space-between;}
#nossaHistoria .imagem .star{
    margin:0 25px;}
#nossaHistoria .conteudoImagem .conteudo .star{
    margin: 350px 0 0 300px;}
#nossaHistoria .conteudo{
    color: var(--branco);
    margin: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;}
#historiaStar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;}  
#nossaHistoria #conteudo{
    width: 85vw;
    height: 600px;  
    margin: 0px;}
#conteudo .texto{
    margin: 30px 0;}
/* Parte 4 */
#personagens{
    height: 200vh;
    background: var(--fundoRoxo1);
    color: var(--branco);}
#personagens .prototipo{
    width: 620px;
    height: 870px;}
#personagens .conteudo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 200px;}
#personagens .texto{
    width: 600px;}













